/* POSICION DEL header */
header{
    position:fixed;
    left:0px;
    top:0px; 
    width: 100%;
}

/* POSICION DEL FOOTER */
footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    
}

/* PRODUCTOS POR SEPARADO */
.fotosProducto{
    border: 1px solid;
    height: 700px;
    width: 50%;
    float: left;
    /* overflow: scroll; */
    /* position: absolute; */
    padding-top: 90px;
    top: 90px;
}

.fotosProducto img{
    width: 100%;
    height: 100%;
}

.descripcionProducto{
    border: 1px solid red;
    width: 50%;
    height: 700px;
    float: left;
    position: fixed;
    padding-top: 90px;
    right: 0px;
    top: 90px;
    bottom: 235px;
}

/* ************************************************************************* */